#
# Composer
#
vendor
bin
composer.lock

#
# PHPStorm
#
.idea

#
# Test Output
#
/build/cache/*
!build/cache/.gitkeep
/build/config/base/*
!build/config/base/.gitkeep
/build/coverage/
/build/logs/*
.phpunit.result.cache

#
# Symfony
#
/.env.local
/.env
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/

generated/*
!generated/.gitkeep

tests/testdata/template/generated/*
!tests/testdata/template/generated/.gitkeep