<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-type-1-clones-tab" data-bs-toggle="tab"
                data-bs-target="#nav-type-1-clones">Type 1 Clones
        </button>
        <button class="nav-link" id="nav-type-2-clones-tab" data-bs-toggle="tab"
                data-bs-target="#nav-type-2-clones">Type 2 Clones
        </button>
        <button class="nav-link" id="nav-type-3-clones-tab" data-bs-toggle="tab"
                data-bs-target="#nav-type-3-clones">Type 3 Clones
        </button>
        <button class="nav-link" id="nav-type-4-clones-tab" data-bs-toggle="tab"
                data-bs-target="#nav-type-4-clones">Type 4 Clones
        </button>
    </div>
</nav>